@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    width: 100vw;
    height: 100vh;
}

.main{
    width: 100vw;
    height: 100vh;
    background-image: url("../img/bgLogin.png");
    background-size: cover;
    
    display: flex;
    justify-content: center;
    align-items: center;
}

.login-box{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    width: 600px;
    height: 700px;
    background-color: rgb(249, 249, 249);
    box-shadow: 0px 15px 50px 0px rgb(176, 176, 176);
    border-radius: 30px;
}

.title{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 95%;
    height: 10%;
}

.title h3{
    color: red;
    font-size: 60px;
    font-weight: 700;
}

.form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 95%;
    height: 50%;
}

form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 95%;
}

label{
    font-size: 30px;
    font-weight: 500;    
}

input[type="text"], [type="password"]{
   padding: 10px;
   width: 80%;
   border: none;
   border-bottom: 2px solid gray;
   background-color: rgb(249, 249, 249);
   font-size: 20px;
   font-weight: 500;    
}

#login{
    padding: 15px 35px;
    font-size: 20px;
    font-weight: 500;  
    border-radius: 30px;
    border: none;
    background-color: red;
    color: rgb(249, 249, 249);
}

#login:hover{
    border: 1px solid red;
    background-color: rgb(249, 249, 249);
    color: red;
}

